<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<title>title</title>
</head>
<body>
	
	<!-- header uper bar + navbar menu -->
	<header>
		<div class="row">
			<div class="col-md uperbar">
				<form class="form-inline">
					<i class="fa fa-search"></i>
					<input type="search" id="searchText" class="form-control live-search-box" placeholder="Entrer une poste..." autocomplete="off">
				</form>
				<ul class="list-unstyled live-search-list">
				</ul>
			</div>
				<div class="col-md text-md-right text-left compte">
				<a href="" data-toggle="tooltip" title="facebook!">
					<i class="fa fa-facebook fa-fw"></i>
				</a>
				<a href="" data-toggle="tooltip" title="instagram!">
					<i class="fa fa-instagram fa-fw"></i>
				</a> 
				<a href="" data-toggle="tooltip" title="twitter!">
					<i class="fa fa-twitter fa-fw"></i>
				</a>
				<a href="" data-toggle="tooltip" title="youtube!">
					<i class="fa fa-youtube fa-fw"></i>
				</a>
				<a href="" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-user-circle fa-lg"></i> 
					</a>
					<ul class="dropdown-menu">
						<li class="menu-item"><a href="inscription.html" class="menu-link">New account</a></li>
						<li class="menu-item"><a href="" data-toggle="modal" data-target="#myModal" class="menu-link">Sign in</a></li>
					</ul>
				</a>
			</div>
		</div>
		<div class="container">
			<nav class="navbar navbar-light navbar-expand-lg">
				<a href="index.html" class="navbar-brand">Job<span>B</span></a>
				<button class="navbar-toggler" data-toggle="collapse" data-target="#navToggle">
					Menu <i class="fa fa-caret-down"></i>
				</button>
				<div id="navToggle" class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a href="index.html" class="nav-link">Home \</a></li>
						<li class="nav-item"><a href="Contact.html" class="nav-link">Contact \</a></li>
						<li class="nav-item"><a href="About.html" class="nav-link">About \</a></li>
						<li class="nav-item dropdown"> 
							<a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-globe"></i></a> 
							<ul class="dropdown-menu">
								<li class="menu-item"><a href="" class="menu-link">English</a></li>
								<li class="menu-item"><a href="" class="menu-link">Frensh</a></li>
								<li class="menu-item"><a href="" class="menu-link">Arabic</a></li>
							</ul>
						</li> 
						<li class="nav-item dropdown">
							<a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"></i></a>
							<ul class="dropdown-menu">
								<li class="menu-item"><a href="" class="menu-link">Profile</a></li>
								<li class="menu-item"><a href="" class="menu-link">Settings</a></li>
								<li class="menu-item"><a href="" class="menu-link">Sign-out</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>

	<div class="navigate details-nav">
		<ul class="list-unstyled">
			<li><a href="index.html">Home \</a></li>
			<li><a href="Details.html">Details</a></li>
		</ul>
		<div class="rotate1"></div>
		<div class="rotate2"></div>
	</div>

	<section class="container details">
		<h3><i class="fa fa-building"></i> Company name</h3>
		<div class="row">
			<div class="col-sm-4">
				<h4>Job creation :</h4>
				<div class="line"></div>
			</div>
			<div>
				<ul class="list-group">
					<li class="list-group-item"><i class="fa fa-calendar"></i> <b>Date Creation</b> : Decembre 2003</li>
					<li class="list-group-item"><i class="fa fa-user-o"></i> <b>Creator</b> : Admin Name <a href="">details</a></li>
					<li class="list-group-item"><i class="fa fa-map"></i> <b>Adresse</b> : Street 34 Marseille</li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-4">
				<h4>Job description</h4>
				<div class="line"></div>
			</div>
			<div class="col">
				<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
				<ul class="list-unstyled">
					<li><i class="fa fa-clock-o"></i> <b>Hours work</b> : 8h</li>
					<li><i class="fa fa-money"></i> <b>Salary</b> : 800$ - 1600$</li>
					<li><i class="fa fa-group"></i> <b>Work as group</b> : true</li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="row skills">
			<div class="col-sm-4">
				<h4>Skills need</h4>
				<div class="line"></div>
			</div>
			<div class="col">
				<label>PHP</label>
				<div class="progress-bar">
					<div class="php" style="width: 70%">70%</div>
				</div>
				<label>HTML</label>
				<div class="progress-bar">
					<div class="html" style="width: 90%">90%</div>
				</div>
				<label>CSS</label>
				<div class="progress-bar">
					<div class="css" style="width: 85%">85%</div>
				</div>
				<label>JQUERY / JAVASCRIPT </label>
				<div class="progress-bar">
					<div class="js" style="width: 65%">65%</div>
				</div>
				<label>BOOTSTRAP</label>
				<div class="progress-bar">
					<div class="css" style="width: 85%">85%</div>
				</div>
				<label>AJAX</label>
				<div class="progress-bar">
					<div class="js" style="width: 78%">78%</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<section class="col-md-6">
					<h3>About us</h3>
					<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
				</section>
				<section class="col-md">
					<h3>Technologies Et Framwork</h3>
					<ul class="list-unstyled">
						<li>HTML5</li>
						<li>CSS3</li>
						<li>JavaScript</li>
						<li>jQuery</li>
						<li>Json</li>
						<li>Bootstrap</li>
					</ul>
				</section>
				<section class="col-md">
					<h3>Social Media</h3>
					<ul class="list-unstyled">
						<li><a href="#"><i class="fa fa-twitter">&nbsp;</i>Twitter</a></li>
						<li><a href="#"><i class="fa fa-facebook">&nbsp;</i>Facebook</a></li>
						<li><a href="#"><i class="fa fa-instagram">&nbsp;</i>Instagram</a></li>
						<li><a href="#"><i class="fa fa-youtube">&nbsp;</i>Youtube</a></li>
					</ul>
				</section>
			</div>
			<hr>
			<div class="copyright">
				<p> &copy; copyright reserved | BENSARGHIN 2018 - 2019 </p>
			</div>
		</div>
	</footer>

 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        	<form name="sign">
        		<div class="form-group">
			    	<input type="text" id="slogin" class="form-control" placeholder="Email...">
			    	<div id="sLgVide">Box is empty</div>
			    	<div id="sLgValide">Exemple@domain.com</div>
			    </div>
			    <div class="form-group">
			    	<input type="password" id="spwd" class="form-control" placeholder="password...">
			    	<div id="spwdVide">Box is empty</div>
			    </div>
			    <div class="form-group">
			    	<button type="button" name="send" class="modal-btn" onclick="validate()">Sign-in</button>
			    </div>
        	</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>