<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<title>PostePf</title>
</head>
<body>

	<!-- header uper bar + navbar menu -->
	<header>
		<div class="row">
			<div class="col-md uperbar">
				<form class="form-inline">
					<i class="fa fa-search"></i>
					<input type="search" id="searchText" class="form-control live-search-box" placeholder="Entrer une poste..." autocomplete="off">
				</form>
				<ul class="list-unstyled live-search-list">
				</ul>
			</div>
			<div class="col-md text-md-right text-left compte">
				<a href="" data-toggle="tooltip" title="facebook!">
					<i class="fa fa-facebook fa-fw"></i>
				</a>
				<a href="" data-toggle="tooltip" title="instagram!">
					<i class="fa fa-instagram fa-fw"></i>
				</a> 
				<a href="" data-toggle="tooltip" title="twitter!">
					<i class="fa fa-twitter fa-fw"></i>
				</a>
				<a href="" data-toggle="tooltip" title="youtube!">
					<i class="fa fa-youtube fa-fw"></i>
				</a>
				<a href="" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-user-circle fa-lg"></i> 
					</a>
					<ul class="dropdown-menu">
						<li class="menu-item"><a href="inscription.html" class="menu-link">New account</a></li>
						<li class="menu-item"><a href="" data-toggle="modal" data-target="#myModal" class="menu-link">Sign in</a></li>
					</ul>
				</a>
			</div>
		</div>
		<div class="container">
			<nav class="navbar navbar-light navbar-expand-lg">
				<a href="index.html" class="navbar-brand">Job<span>B</span></a>
				<button class="navbar-toggler" data-toggle="collapse" data-target="#navToggle">
					MENU <i class="fa fa-caret-down"></i>
				</button>
				<div id="navToggle" class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a href="index.html" class="nav-link">Home \</a></li>
						<li class="nav-item"><a href="Contact.html" class="nav-link">Contact \</a></li>
						<li class="nav-item"><a href="About.html" class="nav-link">About \</a></li>
						<li class="nav-item dropdown"> 
							<a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-globe"></i></a> 
							<ul class="dropdown-menu">
								<li class="menu-item"><a href="" class="menu-link">English</a></li>
								<li class="menu-item"><a href="" class="menu-link">Frensh</a></li>
								<li class="menu-item"><a href="" class="menu-link">Arabic</a></li>
							</ul>
						</li> 
						<li class="nav-item dropdown">
							<a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"></i></a>
							<ul class="dropdown-menu">
								<li class="menu-item"><a href="" class="menu-link">Profile</a></li>
								<li class="menu-item"><a href="" class="menu-link">Settings</a></li>
								<li class="menu-item"><a href="" class="menu-link">Sign-out</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>

	<!-- left list \ Levels -->
	<section class="left-list">
		<div class="row">
			<div class="col-md-3">
				<ul class="list-group">
					<li class="list-group-item act">Your level</li>
					<li class="list-group-item">
						<a href="Details.html">Student</a>
					</li>
					<li class="list-group-item">
						<a href="Details.html">College</a>
					</li>
					<li class="list-group-item">
						<a href="Details.html">High Education</a>
					</li>
					<li class="list-group-item">
						<a href="Details.html">Beginner</a>
					</li>
					<li class="list-group-item">
						<a href="Details.html">Job Knowledge</a>
					</li>
					<li class="list-group-item">
						<a href="Details.html">Much Experience</a>
					</li>
					<li class="list-group-item">
						<a href="Details.html">Hand Made</a>
					</li>
					<li class="list-group-item">
						<a href="Details.html">Free work</a>
					</li>
					<li class="list-group-item">
						<a href="Details.html">Other</a>
					</li>
				</ul>
			</div>
			<div class="col coverture">
				<p>This HTML tutorial contains hundreds of HTML examples.With our online HTML editor, you can edit the HTML, and click on a button to view.</p>
				<a href="#" data-toggle="modal" data-target="#myModal">Sign-in</a>
				<a href="inscription.html">New account</a>
				<div class="overlay"></div>
			</div>
		</div>
	</section>

	<!-- servises -->
	<div class="container services">
		<h2 class="text-center"><i class="fa fa-gears"></i> Services</h2>
		<div class="row">
			<article class="col-md card">
				<h3><i class="fa fa-graduation-cap"></i></h3>
				<h4>Know a Skills to work</h4>
				<p class="text-center">Education and Skills Requirements, Experience you need to be ready to any job before send demande... </p>
			</article>
			<article class="col-md card">
				<h3><i class="fa fa-lightbulb-o"></i></h3>
				<h4>Know a Job</h4>
				<p class="text-center"> Collect Description, Activities, Knowledge, Work Styles, Work Values, and Salary Information to ready to get a job...</p>
			</article>
			<article class="col-md card">
				<h3><i class="fa fa-handshake-o"></i></h3>
				<h4>Get a Job</h4>
				<p class="text-center">after Graduate and skills Collection and job information you'll find a list of job ads to send your cv to get a job...</p>
			</article>
		</div>
	</div>
	
	<!-- les postes -->
	<div class="shuffle">
	<h2 class="text-center"><i class="fa fa-list"></i> Jobs Type</h2>
		<div class="row shuffles">
			<div class="col-md col-sm-6">
				<img src="img/1.jpeg">
				<div class="surf"><a href="Details.html" class="text-center">Architecture <i class="fa fa-plus"></i></a></div>
			</div>
			<div class="col-md col-sm-6">
				<img src="img/2.jpeg">
				<div class="surf"><a href="Details.html" class="text-center">Health <i class="fa fa-plus"></i></a></div>
			</div>
			<div class="col-md col-sm-6">
				<img src="img/3.jpeg">
				<div class="surf"><a href="Details.html">Personal <i class="fa fa-plus"></i></a></div>
			</div>
			<div class="col-md col-sm-6">
				<img src="img/4.jpeg">
				<div class="surf"><a href="Details.html">Education <i class="fa fa-plus"></i></a></div>
			</div>
		</div>
		<div class="row shuffles">
			<div class="col-md col-sm-6">
				<img src="img/5.jpeg">
				<div class="surf"><a href="Details.html">Personal <i class="fa fa-plus"></i></a></div>
			</div>
			<div class="col-md col-sm-6">
				<img src="img/6.jpeg">
				<div class="surf"><a href="Details.html">Architecture <i class="fa fa-plus"></i></a></div>
			</div>
			<div class="col-md col-sm-6">
				<img src="img/7.jpeg">
				<div class="surf"><a href="Details.html">Engineering <i class="fa fa-plus"></i></a></div>
			</div>
			<div class="col-md col-sm-6">
				<img src="img/8.jpeg">
				<div class="surf"><a href="Details.html">Computer <i class="fa fa-plus"></i></a></div>
			</div>
		</div>
	</div>

	<div class="ads">
		<h2 class="text-center"><i class="fa fa-briefcase"></i> Job ads</h2>
		<div class="row">
			<div class="col-4"><img src="img/7.jpeg" width="200" height="150"></div>
			<div class="col">
				<h2>Architecture and Engineering Occupations</h2>
				<p>12 avr 2019 | by Admin</p>
				<h4>Read more</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-4"><img src="img/8.jpeg" width="200" height="150"></div>
			<div class="col">
				<h2>Computer and Mathematical Occupations</h2>
				<p>29 ma 2019| by Admin</p>
				<h4>Read more</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-4"><img src="img/6.jpeg" width="200" height="150"></div>
			<div class="col">
				<h2>Personal Care and Service Occupations</h2>
				<p>09 dec 2019| by Admin</p>
				<h4>Read more</h4>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<section class="col-md-6">
					<h3>About us</h3>
					<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
				</section>
				<section class="col-md">
					<h3>Technologies Et Framwork</h3>
					<ul class="list-unstyled">
						<li>HTML5</li>
						<li>CSS3</li>
						<li>JavaScript</li>
						<li>jQuery</li>
						<li>Json</li>
						<li>Bootstrap</li>
					</ul>
				</section>
				<section class="col-md">
					<h3>Social Media</h3>
					<ul class="list-unstyled">
						<li><a href="#"><i class="fa fa-twitter">&nbsp;</i>Twitter</a></li>
						<li><a href="#"><i class="fa fa-facebook">&nbsp;</i>Facebook</a></li>
						<li><a href="#"><i class="fa fa-instagram">&nbsp;</i>Instagram</a></li>
						<li><a href="#"><i class="fa fa-youtube">&nbsp;</i>Youtube</a></li>
					</ul>
				</section>
			</div>
			<hr>
			<div class="copyright">
				<p> &copy; copyright reserved | BENSARGHIN 2018 - 2019 </p>
			</div>
		</div>
	</footer>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        	<form name="sign">
        		<div class="form-group">
			    	<input type="text" id="slogin" class="form-control" placeholder="Email...">
			    	<div id="sLgVide">box is empty</div>
			    	<div id="sLgValide">Exemple@domain.com</div>
			    </div>
			    <div class="form-group">
			    	<input type="password" id="spwd" class="form-control" placeholder="password...">
			    	<div id="spwdVide">box is empty</div>
			    </div>
			    <div class="form-group">
			    	<button type="button" name="send" class="modal-btn" onclick="validate()">Sign-in</button>
			    </div>
        	</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/validation.js"></script>
</body>
</html>